        body{
    margin:auto;
}
*{
    font-family: 'Zen Tokyo Zoo', cursive;
}
.main {
    background-color: rgb(182, 231, 178);
    height: 680px;
    overflow: hidden;
}
.middle {
    margin:0 auto;
    max-width: 400px;
    height: 400px;
    text-align: center;
    background-color: rgb(199 216 195);
    overflow: hidden;
    margin-top: 100px;
    border: 1px solid #0b7d23;
    border-radius: 20px;
}

.form_div {
    width: 300px;
    height: 180px;
    margin: 0 auto;
    margin-top: 30px;
    overflow: hidden;
}
.form_div .num1 {
    margin-top: 10px;
    border-bottom: 1px solid #696dea;
    border-radius: 10px;
}
.form_div .num2 {
    margin-top: 10px;
    border-bottom: 1px solid #696dea;
    border-radius: 10px;
}

.form_div select {
    margin-top: 10px;
    border: 1px solid #696dea;
    border-radius: 10px;
}
.submit_btn {
    width: 85px;
    height: 30px;
    border: 1px solid #696dea;
    border-radius: 15px;
    font-size:15px;
}
p{
    margin:30px 0 0 0;
    color:#1f2161;
}
